<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "layout/layout :: head"></head>
<body>
  <header th:replace = "layout/layout :: header"></header>

<div class = "container">

	<h1>Restaurant index</h1>
	<div class="card text-center">
			<div class="card-header">Lista de Cocinas</div>
			<div class="card-body">
			
				<table class="table table-striped">
					<thead>
						<tr>
						<th scope="col">#</th>
							<th scope="col">cocinaEstado</th>
						    <th scope="col">pedidoId</th>
					
							<th scope="col"></th>
						    
						</tr>
					</thead>
					<tbody th:each="cocina: ${cocina}">
						<tr>
							<th scope="row" th:text="${cocina.cocinaCod}">1</th>
							<td th:text="${cocina.cocinaEstado}">Mark</td>
							<td th:text="${cocina.pedido.pedidoCod}">1</td>
						

							
							<td>	
						<a th:href="@{ '/cocina/edit/' + ${cocina.cocinaCod} }" class="btn btn-warning"> 
									<i class="fas fa-edit"></i> 
								</a>
							</td>
						</tr>						
					</tbody>
	</table>
</div>
<div class="card-footer text-muted">
				<a th:href="@{/cocina/nuevo}" class="btn btn-primary"><i class="fas fa-file-alt"></i> Nueva Cocina</a>
			</div>
</div>
</div>
<footer th:replace = "layout/layout :: footer"></footer>
</body>
</html>