<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">

		<h1>Edición del Usuario</h1>

		<div class="card">
			<div class="card-header">Edición Usuario</div>
			<div class="card-body">

				<form th:action="@{/usuario/save}" th:object="${usuario}" 
					method="post">
					<div class="form-group">
						<label for="usuarioCodigo"> Usuario codigo:</label> 
						<input type="text" class="form-control" 
							placeholder="UsuarioCodigo"
							th:field="*{usuarioCod}">
					</div>
					<div class="form-group">
						<label for="usuarioNombre">Nombre de usuario:</label> 
						<input type="text" class="form-control" 
							placeholder="Nombre de Usuario"
							th:field="*{usuarioNombre}">
					</div>
					<div class="form-group">
						<label for="usuarioContraseña">Contraseña:</label> 
					<input type="text" class="form-control" 
							placeholder="ingrese contraseña"
							th:field="*{usuarioContrasena}">
			
					</div>
						<div class="form-group">
						<label for="usuarioContraseña">Cargo:</label> 
					<input type="text" class="form-control" 
							placeholder="ingrese cargo"
							th:field="*{cargo}">
			
					</div>
					
					<button type="submit" class="btn btn-primary">
						<i class="fas fa-save"></i> Grabar
					</button>
					<a th:href="@{/usuario}" class="btn btn-danger"> 
						<i class="fas fa-undo"></i> Cancelar 
					</a>
				</form>

			</div>
		</div>


	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>