<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "layout/layout :: head"></head>
<body>
  <header th:replace = "layout/layout :: header"></header>

<div class = "container">

	<h1>Restaurant index</h1>
	<div class="card text-center">
			<div class="card-header">Lista de usuarios</div>
			<div class="card-body">
			
				<table class="table table-striped">
					<thead>
						<tr>
						<th scope="col">#</th>
							<th scope="col">Nombre</th>
							<th scope="col">Contraseña</th>
						    <th scope="col">Cargo</th>
							<th scope="col"></th>
						    
						</tr>
					</thead>
					<tbody th:each="usuario: ${usuarios}">
						<tr>
							<th scope="row" th:text="${usuario.usuarioCod}">1</th>
							<td th:text="${usuario.usuarioNombre}">Mark</td>
							<td th:text="${usuario.usuarioContrasena}">Otto</td>
							<td th:text="${usuario.cargo}">Otto</td>
							
							<td>
								<a th:href="@{ '/usuario/edit/' + ${usuario.usuarioCod} }" class="btn btn-warning"> 
									<i class="fas fa-edit"></i> 
								</a>
										<a th:href="@{ '/usuario/del/' + ${usuario.usuarioCod} }" class="btn btn-danger"> 
									<i class="fas fa-trash-alt"></i> 
								</a>						
							</td>
						</tr>						
					</tbody>
	</table>
</div>
<div class="card-footer text-muted">
				<a th:href="@{/usuario/nuevo}" class="btn btn-primary"><i class="fas fa-file-alt"></i> Nuevo Usuario</a>
			</div>
</div>
</div>
<footer th:replace = "layout/layout :: footer"></footer>
</body>
</html>