<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">

		<h1>Nuevo Plato</h1>

		<div class="card">
			<div class="card-header">Registro de nuevo plato</div>
			<div class="card-body">

				<form th:action="@{/plato/save}" 
					th:object="${plato}" method="post">
					<div class="form-group">
						<label for="menuId">menuId:</label> 
						<input type="text" class="form-control" 
							placeholder="menuId"
							th:field="*{menu.menuId}">
							
					</div>
					<div class="form-group">
						<label for="platoNombre">platoNombre:</label> 
						<input type="text" class="form-control" 
							placeholder="platoNombre"
							th:field="*{platoNombre}">
					</div>
					<div class="form-group">
						<label for="platoDescripcion">platoDescripcion:</label> 
						<input type="text" class="form-control" 
							placeholder="platoDescripcion"
							th:field="*{platoDescripcion}">
					</div>
						<div class="form-group">
						<label for="stock">stock:</label> 
						<input type="text" class="form-control" 
							placeholder="stock"
							th:field="*{stock}">
					</div>
			
					
					
					<button type="submit" class="btn btn-primary">
						<i class="fas fa-save"></i> Grabar
					</button>
					<a th:href="@{/plato}" class="btn btn-danger"> 
						<i class="fas fa-undo"></i> Cancelar 
					</a>
				</form>

			</div>
		</div>


	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>