<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "layout/layout :: head"></head>
<body>
  <header th:replace = "layout/layout :: header"></header>

<div class = "container">

	<h1>Restaurant index</h1>
	<div class="card text-center">
			<div class="card-header">Lista de mesa</div>
			<div class="card-body">
			
				<table class="table table-striped">
					<thead>
						<tr>
						<th scope="col">#</th>
							<th scope="col">Mesa_numero</th>
							
							
							<th scope="col"></th>
						    
						</tr>
					</thead>
					<tbody th:each="mesa: ${mesas}">
						<tr>
							<th scope="row" th:text="${mesa.mesaCod}">1</th>
							<td th:text="${mesa.mesaNumero}">1</td>
							
						

							
							<td>	
							</td>
						</tr>						
					</tbody>
	</table>
</div>
<div class="card-footer text-muted">
				<a th:href="@{/mesa/nuevo}" class="btn btn-primary"><i class="fas fa-file-alt"></i> Nueva Mesa</a>
			</div>
</div>
</div>
<footer th:replace = "layout/layout :: footer"></footer>
</body>
</html>