<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">

		<h1>Nuevo Usuario</h1>

		<div class="card">
			<div class="card-header">Registro de nuevo usuario</div>
			<div class="card-body">

				<form th:action="@{/menu/save}" th:object="${menu}" 
					method="post">
					
					<div class="form-group">
						<label for="admin.adminCod">admin.adminCod:</label> 
						<input type="text" class="form-control" 
							placeholder="admin.adminCod"
							th:field="*{admin.adminCod}">
					</div>
					
					<button type="submit" class="btn btn-primary">
						<i class="fas fa-save"></i> Grabar
					</button>
					<a th:href="@{/menu}" class="btn btn-danger"> 
						<i class="fas fa-undo"></i> Cancelar 
					</a>
				</form>

			</div>
		</div>


	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>